@import "@/style/variables.scss";
// body
body{
    font-family: Arial, Helvetica, sans-serif;
}
// classe per dare ad un elemento display flex
.flex{
    display: flex;
}
// le liste nella pagina non avranno style
ul{
    list-style: none;
}
// i link non avranno text decoration
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    &:hover{
        color: blue;
    }
}

// container avranno margin 0 auto
.container{
    width: 1200px;
    margin: 0 auto;
}
// i titoli avranno questo colore
h1,h2,h3,h4,h5{
    color: $GunPowder;
}
// bottoni
button {
    background-color: $MountainMeadow;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: $white;
    margin: 10px 0;
    cursor: pointer;
    // hover bottone
    &:hover{
        background-color:#3f3a64;
    }
}
// colore standard paragrafi
p{
    color:$pcolor;
}
.greenspan{
    color: #1fad96;
}
// prezzi
.price{
    color:#1fad96;
    font-weight: bolder;
}
// opacità
.opacity{
    opacity: 50%;
}
// input
input {
    width: 200px;
    border: none;
    background-color: $HintofRed;
    font-size: 16px;
}

.bg-hint{
    background-color:$HintofRed;
}