// body
body{
    font-family: Arial, Helvetica, sans-serif;
}

// le liste nella pagina non avranno style
ul{
    list-style: none;
}
// i link non avranno text decoration
a{
    text-decoration: none;
}