@import "@/style/variables.scss";
// body
body{
    font-family: Arial, Helvetica, sans-serif;
}

// le liste nella pagina non avranno style
ul{
    list-style: none;
}
// i link non avranno text decoration
a{
    text-decoration: none;
}
// container avranno margin 0 auto
.container{
    width: 1200px;
    margin: 0 auto;
}
// i titoli avranno questo colore
h1,h2,h3,h4,h5{
    color: $GunPowder;
}
// bottoni
button {
    background-color: $MountainMeadow;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: $white;
    margin: 10px 0;
    cursor: pointer;
}
// colore standard paragrafi
p{
    color:$pcolor;
}
// prezzi
.price{
    color:#1fad96;
    font-weight: bolder;
}
.opacity{
    opacity: 50%;
}