// bianco
$white:#ffffff;
// grigio scuro/nero
$codGray:#0b0b0b;
// grigio
$ShadyLady:#aeadae;
// verde acqua scuro (utile per bottoni)
$MountainMeadow:#1fad96;
// turchese (utile per varie scritte)
$TurquoiseBlue:#5df0c8;
// blu notte
$GunPowder:#48495f;
// colori pragrafi
$pcolor:gray;
// colori per contenitori

// contenitore corsi
// azzurrino
$bgceleste:#f5f7fa;
// grigio leggero
$HintofRed:#f6f3f5;
// marroncino
$beige:#f5f1ed;
